package {{intfPackageName}};

import edu.mayo.kmdp.terms.ControlledTerm;
import edu.mayo.kmdp.terms.VersionableTerm;
import java.net.URI;
import org.omg.spec.api4kp._1_0.id.ResourceIdentifier;
import org.omg.spec.api4kp._1_0.id.SemanticIdentifier;

@javax.xml.bind.annotation.adapters.XmlJavaTypeAdapter( {{seriesName}}.Adapter.class )
@com.fasterxml.jackson.databind.annotation.JsonDeserialize( using = {{seriesName}}.JsonDeserializer.class )
public interface {{intfName}} extends ControlledTerm, VersionableTerm<{{intfName}}, {{seriesName}}> {

  String SCHEME_NAME = "{{conceptScheme.label}}";
  String SCHEME_ID = "{{conceptSchemeTag}}";

  String seriesIdentifier = "{{seriesNamespace}}";
  ResourceIdentifier seriesUri =
      SemanticIdentifier.newId(URI.create("{{seriesNamespace}}"));

  ResourceIdentifier seriesNamespace =
      SemanticIdentifier.newNamedId(
          seriesUri.getResourceId(),
          SCHEME_ID,
          SCHEME_NAME);

  default ResourceIdentifier getSeriesUri() {
    return (ResourceIdentifier) seriesUri.clone();
  }

  @Override
  public ResourceIdentifier getNamespace();

  @Override
  default URI getNamespaceUri() {
    return seriesUri.getResourceId();
  }

}
