module {{name}} {
{{#structs}}
struct {{typeName}} {
  {{#fields}}
    {{#type.isCollection}}sequence<{{/type.isCollection}}{{type.fullyQualifiedName}}{{#type.isCollection}}>{{/type.isCollection}} {{name}};
  {{/fields}}
};
typedef sequence<{{typeName}}> {{typeName}}List;
{{/structs}}
{{#subModules}}
{{> idl_module}}
{{/subModules}}
{{#interfaces}}
interface {{name}} {
  {{#operations}}
  {{returnType.fullyQualifiedName}}{{#returnType.isCollection}}List{{/returnType.isCollection}} {{name}} (
    {{#inputs}}
      {{direction}} {{type.fullyQualifiedName}}{{#type.isCollection}}List{{/type.isCollection}} {{name}} {{^-last}}, {{/-last}}
    {{/inputs}}
  );
  {{/operations}}
};
{{/interfaces}}
}; // {{name}}