module {{name}} {
{{#structs}}
struct {{typeName}} {
  {{#fields}}
    {{type.fullyQualifiedName}} {{name}};
  {{/fields}}
};
{{/structs}}
{{#subModules}}
{{> idl_module}}
{{/subModules}}
{{#interfaces}}
interface {{name}} {
  {{#operations}}
  {{returnType.fullyQualifiedName}} {{name}} (
    {{#inputs}}
      {{direction}} {{type.fullyQualifiedName}} {{name}} {{^-last}}, {{/-last}}
    {{/inputs}}
  );
  {{/operations}}
};
{{/interfaces}}
}; // {{name}}