module {{name}} {

{{#structs}}
struct {{typeName}} {
  {{#fields}}
    {{type.name}} {{name}};
  {{/fields}}
};
{{/structs}}

{{#subModules}}
{{> idl_module}}
{{/subModules}}

{{#interfaces}}
interface {{name}} {

  {{#operations}}
  {{returnType.name}} {{name}} (
    {{#inputs}}
      {{direction}} {{type.name}} {{name}} {{^-last}}, {{/-last}}
    {{/inputs}}
  );

  {{/operations}}

};
{{/interfaces}}
}; // {{name}}