<?xml version="1.0"?>
<catalog xmlns="urn:oasis:names:tc:entity:xmlns:xml:catalog">
{{#entries}}
    <public publicId="{{id}}"
            uri="{{uri}}"/>
    <system systemId="{{id}}"
            uri="{{uri}}"/>
    <uri name="{{id}}"
            uri="{{uri}}"/>
{{/entries}}
</catalog>