<?xml version="1.0"?>
<catalog xmlns="urn:oasis:names:tc:entity:xmlns:xml:catalog">
{{#entries}}
    <public publicId="{{id}}"
            uri="{{uri}}"/>
    <system systemId="{{id}}"
            uri="{{uri}}"/>
    <uri name="{{id}}"
            uri="{{uri}}"/>

    {{#seriesUri}}
    <system systemId="{{seriesId}}"
            uri="{{seriesUri}}"/>
    <public publicId="{{seriesId}}"
            uri="{{seriesUri}}"/>
    <uri name="{{seriesId}}"
            uri="{{seriesUri}}"/>
    {{/seriesUri}}
{{/entries}}
</catalog>