<?xml version="1.0" encoding="UTF-8"?>
<jaxb:bindings version="2.1"
               xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
               xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
               xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <jaxb:bindings schemaLocation="{{typeName}}.series.xsd"
                 node="/xs:schema">

    <jaxb:bindings node="//xs:complexType[@name='{{typeName}}']">
      <jaxb:class ref="{{#intfPackageName}}{{intfPackageName}}.{{/intfPackageName}}{{intfName}}" />
    </jaxb:bindings>

  </jaxb:bindings>
</jaxb:bindings>