<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="{{conceptScheme.label}}"
           targetNamespace="{{namespace}}"
           elementFormDefault="qualified"
           xmlns="{{namespace}}"
           xmlns:id="http://www.omg.org/spec/API4KP/1.0/identifiers"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://www.omg.org/spec/API4KP/1.0/identifiers"/>

    <xs:complexType name="{{typeName}}">
      <xs:complexContent>
        <xs:extension base="id:ConceptIdentifier">
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="{{typeName}}_Valueset">
      <xs:restriction base="xs:string">
      {{#concepts}}
        <xs:enumeration value="{{ref}}"/>
      {{/concepts}}
      </xs:restriction>
    </xs:simpleType>
</xs:schema>